@model Tennos_Prueba.core.Domain.Entidades.Productos

@{
    ViewData["Title"] = "Create";
}

<div class="container my-5">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            

            <h4 style="text-align:center">CREANDO PRODUCTO</h4>
            <hr />

            <form asp-action="Create" class="card p-4 shadow-sm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-3">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group mb-3">
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                    <a asp-action="Index" class="btn btn-outline-secondary ms-2">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
